<div class="copyright">
	<div class="inner">
		<div class="title"><strong>{{@blog.title}}</strong> &copy; {{date format="YYYY"}}</div>
		<div class="published">Proudly published with <a href="https://ghost.org" target="_blank">Ghost</a></div>
	</div>
</div>